@model TrainingDiary.Web.ViewModels.Trainings.SearchTrainingViewModel

@using TrainingDiary.Common;
@using TrainingDiary.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    @if (this.SignInManager.IsSignedIn(this.User))
    {
        <form method="post" asp-controller="Home" asp-action="SearchTraining">
            <div class="form-group">
                 <input type="date" class="form- control" asp-for="@Model.Date" name="date" />
                 <span asp-validation-for="@Model.Date" class="text-danger"></span>
            </div>
            <button type="submit" id="submit">Search</button>
        </form>
    }
    else
    {
        <p>Please log in or register.</p>
    }
</div>
