@model TrainingDiary.Web.ViewModels.Trainings.TrainingViewModel;

@{
    this.ViewData["Title"] = "Training";
    int trainingId = Convert.ToInt16(this.ViewContext.HttpContext.Request.Query["trainingId"]);
}

<div>
    @if (trainingId != 0)
    {
        <h3>@Model.Date.ToString()</h3>
        @foreach (var exercise in Model.Exercises)
        {
            <p>@exercise.Description</p>
        }
        <a class="btn btn-orange w-25 add-item" role="button" asp-area="" asp-controller="Exercises" asp-route-trainingId="@trainingId" asp-action="Add">Add Exercise</a>
    }
    else
    {
        <p>Training Not Found.</p>
        <a class="btn btn-orange w-25 add-item" role="button" asp-area="" asp-controller="Trainings" asp-action="Add">Add Training</a>
    }
</div>
